/* Start Globale Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-text-color: #777;
  --section-background: #ececec;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --main-transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.295);
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-color-alt);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.main-title {
  text-transform: uppercase;
  margin: 0 auto 80px;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 30px;
  font-weight: bold;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: var(--main-transition);
  cursor: default;
}

@media (max-width: 991px) {
  .main-title  {
    margin-bottom: 40px;
  }
}

.main-title::before,
.main-title::after {
  content: "";
  height: 12px;
  width: 12px;
  position: absolute;
  background-color: var(--main-color);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.main-title::before {
  left: -30px;
}

.main-title::after {
  right: -30px;
}

.main-title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}

.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}

.main-title:hover {
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  transition-delay: 0.5s;
}

.spikes {
  position: relative;
}

.spikes::after {
  content: "";
  position: absolute;
  height: 30px;
  width: 100%;
  right: 0;
  z-index: 1;
  background-image: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px 30px;
}

.dots {
  position: absolute;
  background-image: url(../images/dots.png);
  background-repeat: no-repeat;
  height: 186px;
  width: 204px;
  display: none;
}

@media (min-width: 1200px) {
  .dots {
    display: block;
  }
}

.dots-top-right {
  top: 200px;
  right: 0;
}

.dots-bottom-left {
  bottom: 200px;
  left: 0;
}
/* End Globale Rules */

/* strat header */
.header {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 200;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.header .logo {
  color: var(--main-color);
  font-size: 26px;
  font-weight: bold;
  height: 73px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .header .logo {
    width: 100%;
    height: 50px;
    margin-top: 10px;
  }
}

.header .main-nav {
  display: flex;
}

@media (max-width: 767px) {
  .header .main-nav {
    margin: auto;
  }
}

.header .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 73px;
  font-size: 18px;
  color: black;
  padding: 0 30px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: var(--main-transition);
}

@media (max-width: 767px) {
  .header .main-nav > li > a {
    padding: 10px;
    font-size: 14px;
    height: 40px;
  }
}

.header .main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  top: 0;
  left: -100%;
  transition: var(--main-transition);
}

.header .main-nav > li > a:hover {
  color: var(--main-color);
  background-color: #fafafa;
}

.header .main-nav > li > a:hover::before {
  left: 0;
}

.header .mega-menu {
  position: absolute;
  width: 100%;
  left: 0;
  top: 100%;
  padding: 30px;
  background-color: white;
  border-bottom: 3px solid var(--main-color);
  border-radius: 0 0 5px 5px;
  display: flex;
  gap: 40px;
  z-index: 1;
}

@media (max-width: 767px) {
  .header .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 5px;
  }
}

.header .mega-menu .image img {
  max-width: 100%;
}

@media (max-width: 991px) {
  .header .mega-menu .image {
    display: none;
  }
}

.header .mega-menu .links {
  min-width: 250px;
  flex: 1;
}

.header .mega-menu .links li {
  position: relative;
}

@media (max-width: 767px) {
  .header .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
}

.header .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}

.header .mega-menu .links li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #fafafa;
  z-index: -1;
}

.header .mega-menu .links li:hover::before {
  width: 100%;
}

.header .mega-menu .links li a {
  color: var(--main-color);
  padding: 15px;
  display: block;
  font-size: 18px;
  font-weight: bold;
}

.header .mega-menu .links li a i {
  margin-right: 10px;
}
/* end header */

/* start Landing */
.landing {
  position: relative;
}

.landing::before {
  content: "";
  position: absolute;
  left: 0;
  top: -30px;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}

.landing .container {
  min-height: calc(100vh - 73px);
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}

.landing .image img {
  position: relative;
  width: 600px;
  animation: up-and-down 5s linear infinite;
}

@media (max-width: 991px) {
  .landing .image img {
    display: none;
  }
}

.landing .text {
  flex: 1;
}

@media (max-width: 991px) {
  .landing .text {
    text-align: center;
  }
}

.landing .text h1 {
  font-size: 40px;
  margin: 0;
  letter-spacing: -2px;
}

@media (max-width: 767px) {
  .landing .text h1 {
    font-size: 28px;
  }
}

.landing .text p {
  font-size: 23px;
  line-height: 1.6;
  margin: 5px 0 0;
  color: #666;
  max-width: 500px;
}

@media (max-width: 991px) {
  .landing .text p {
    margin: 10px auto;
  }
}

@media (max-width: 767px) {
  .landing .text p {
    font-size: 18px;
  }
}

.landing .go-down {
  color: var(--main-color);
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition);
}

.landing .go-down:hover {
  color: var(--main-color-alt);
}

.landing .go-down i {
  -webkit-animation: bouncing 1.5s infinite;
  -moz-animation: bouncing 1.5s infinite;
  animation: bouncing 1.5s infinite;
}

/* end Landing */

/* start Articles */
.articles {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}

.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}

.articles .box {
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  transition: transform var(--main-transition),
    box-shadow var(--main-transition);
}

.articles .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}

.articles .box img {
  width: 100%;
  max-width: 100%;
}

.articles .box .content {
  padding: 20px;
}

.articles .box .content h3 {
  margin: 0;
}

.articles .box .content p {
  margin: 10px 0 0;
  line-height: 1.5;
  color: var(--main-text-color);
}

.articles .box .info {
  padding: 20px;
  border-top: 1px solid #e6e6e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.articles .box .info a {
  color: var(--main-color);
  font-weight: bold;
}

.articles .box .info i {
  color: var(--main-color);
}

.articles .box:hover .info i {
  animation: arrow-to-left 0.6s linear infinite;
}
/* end Articles */

/* start Gallery */
.gallery {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--section-background);
}

.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.gallery .box {
  padding: 15px;
  background-color: white;
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%),
    0px 2px 4px 0px rgb(0 0 0 / 12%);
}

.gallery .box .image {
  position: relative;
  overflow: hidden;
}

.gallery .box .image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255 255 255 / 20%);
  width: 0;
  height: 0;
  opacity: 0;
  z-index: 2;
}

.gallery .box .image:hover::before {
  animation: flashing 0.7s;
}

.gallery .box img {
  max-width: 100%;
  transition: var(--main-transition);
}

.gallery .box .image:hover img {
  transform: rotate(-6deg) scale(1.1);
}

/* end Gallery */

/* start Features */
.features {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: white;
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.features .box {
  text-align: center;
  border: 1px solid #ccc;
}

.features .box .img-holder {
  position: relative;
  overflow: hidden;
}

.features .box .img-holder::before {
  content: "";
  position: absolute;
  left: 0;
  top: -1px;
  width: 100%;
  height: 100%;
}

.features .box .img-holder::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 0px 0px 170px 500px;
  border-color: transparent transparent white transparent;
  transition: var(--main-transition);
}

.features .box .img-holder img {
  max-width: 100%;
}

.features .box:hover .img-holder::after {
  border-width: 170px 500px 170px 0px;
}

.features .box h2 {
  position: relative;
  font-size: 40px;
  margin: auto;
  width: fit-content;
}

.features .box h2::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: -20px;
  height: 5px;
  width: calc(100% - 30px);
  border-radius: 6px;
}

.features .box p {
  line-height: 2;
  font-size: 20px;
  margin: 30px 0;
  padding: 25px;
  color: #676;
}

.features .box a {
  display: block;
  border: 3px solid transparent;
  width: fit-content;
  margin: 0 auto 30px;
  font-weight: bold;
  font-size: 22px;
  padding: 10px 30px;
  border-radius: 6px;
  transition: var(--main-transition);
}

.features .quality .img-holder::before {
  background-color: rgb(255 0 0 / 60%);
}

.features .quality h2::after {
  background-color: #ff0000;
}

.features .quality a {
  color: #ff0000;
  border-color: #ff0000;
  background: linear-gradient(to right, #ff0000 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.features .time .img-holder::before {
  background-color: rgb(0 150 136 / 60%);
}

.features .time h2::after {
  background-color: #009688;
}

.features .time a {
  color: #009688;
  border-color: #009688;
  background: linear-gradient(to right, #009688 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.features .passion .img-holder::before {
  background-color: rgb(3 169 244 / 60%);
}

.features .passion h2::after {
  background-color: #03a9f4;
}

.features .passion a {
  color: #03a9f4;
  border-color: #03a9f4;
  background: linear-gradient(to right, #03a9f4 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.features .box:hover a {
  background-position: left bottom;
  color: white;
}

/* end Features */

/* start Testimonials */
.testimonials {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--section-background);
}

.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.testimonials .box {
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
  border-radius: 6px;
  position: relative;
}

.testimonials .box img {
  position: absolute;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  right: -10px;
  top: -50px;
  border: 10px solid var(--section-background);
}

.testimonials .box h3 {
  margin: 0 0 10px;
}

.testimonials .box .title {
  color: #0097a7;
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.testimonials .box .rate .filled {
  color: #ffc107;
}

.testimonials .box p {
  line-height: 1.5;
  color: var(--main-text-color);
  margin-top: 10px;
  margin-bottom: 0;
}
/* end Testimonials */

/* start Team */
.team {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}

.team .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.team .box {
  position: relative;
}

.team .box::before,
.team .box::after {
  content: "";
  position: absolute;
  background-color: #f3f3f3;
  right: 0;
  top: 0;
  height: 100%;
  border-radius: 10px;
  transition: var(--main-transition);
}

.team .box::before {
  width: calc(100% - 60px);
  z-index: -2;
}

@media (max-width: 767px) {
  .team .box::before {
    width: 100%;
  }
}

.team .box::after {
  background-color: #e4e4e4;
  width: 0;
  z-index: -1;
}

.team .box:hover::after {
  width: calc(100% - 60px);
}

@media (max-width: 767px) {
  .team .box:hover::after {
    width: 100%;
  }
}

.team .box .data {
  display: flex;
  align-items: center;
  padding-top: 60px;
}

@media (max-width: 767px) {
  .team .box .data {
    flex-direction: column;
    padding-top: 20px;
  }
}

.team .box .data img {
  width: calc(100% - 60px);
  border-radius: 10px;
  transition: var(--main-transition);
}

.team .box:hover img {
  filter: grayscale(100%);
}

.team .box .data .social {
  display: flex;
  width: 60px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

@media (max-width: 767px) {
  .team .box .data .social {
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin-top: 15px;
  }
}

.team .box .data .social a {
  display: flex;
  width: 60px;
  height: 30px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .team .box .data .social a {
    font-size: 20px;
  }
}

.team .box .data .social i {
  color: var(--main-text-color);
  transition: var(--main-transition);
}

.team .box .data .social .facebook:hover i {
  color: #1877f2;
}

.team .box .data .social .twitter:hover i {
  color: #1da1f2;
}

.team .box .data .social .linkedin:hover i {
  color: #004182;
}

.team .box .data .social .youtube:hover i {
  color: #ff0000;
}

.team .box .info {
  padding-left: 80px;
}

@media (max-width: 767px) {
  .team .box .info {
    padding-left: 40px;
  }
}

.team .box .info h3 {
  color: var(--main-color);
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 25px;
  transition: var(--main-transition);
}

@media (max-width: 767px) {
  .team .box .info h3 {
    margin-top: 10px;
  }
}

.team .box:hover .info h3 {
  color: var(--main-text-color);
}

.team .box .info p {
  margin-top: 5px;
  margin-bottom: 25px;
}

/* end Team */

/* start Services */
.services {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--section-background);
}

.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.services .box {
  position: relative;
  background-color: white;
  counter-increment: services;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  transition: var(--main-transition);
}

.services .box::before {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  top: -4px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--main-color);
  transition: var(--main-transition);
}

.services .box:hover {
  transform: translateY(-10px);
}

.services .box:hover::before {
  width: 100%;
}

.services .box i {
  display: block;
  margin: 35px auto;
  width: fit-content;
  color: #d5d5d5;
}

.services .box h3 {
  text-align: center;
  margin: 20px 0 40px;
  font-size: 25px;
  color: var(--main-color);
}

.services .box .info {
  position: relative;
  padding: 15px;
  background-color: #f9f9f9;
  text-align: right;
}

.services .box .info::before {
  content: "0" counter(services);
  position: absolute;
  left: 0;
  top: 0;
  font-size: 30px;
  font-weight: bold;
  color: white;
  background-color: var(--main-color);
  height: 100%;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
}

.services .box .info::after {
  content: "";
  position: absolute;
  left: 70px;
  top: 0;
  width: 50px;
  height: calc(100% + 0.5px);
  background-color: #d5d5d5;
  transform: skewX(-30deg);
}

.services .box .info a {
  color: #009688;
  font-weight: bold;
}
/* end Services */

/* start Skills */
.our-skills {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}

.our-skills .container {
  display: flex;
  align-items: center;
}

@media (max-width: 991px) {
  .our-skills img {
    display: none;
  }
}

.our-skills .skills {
  flex: 1;
}

.our-skills .skill h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.our-skills .skill h3 span {
  font-size: 12px;
  border: 1px solid #ccc;
  padding: 3px 5px;
  color: var(--main-color);
  border-radius: 5px;
}

.our-skills .skill .the-progress {
  position: relative;
  height: 30px;
  background-color: #eee;
  border-radius: 5px;
}

.our-skills .skill .the-progress span {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  background-color: var(--main-color);
  border-radius: 5px 0 0 5px;
  transition: 1s;
}
/* end Skills */

/* start Work Steps */
.work-steps {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--section-background);
}

.work-steps .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

@media (max-width: 991px) {
  .work-steps .container {
    flex-direction: column;
    gap: 50px;
  }
}

.work-steps .image {
  max-width: 100%;
}

@media (max-width: 991px) {
  .work-steps .image {
    max-width: calc(100% - 80px);
  }
}

.work-steps .info .box {
  display: flex;
  position: relative;
  align-items: center;
  background-color: #f6f6f5;
  padding: 30px;
  margin-bottom: 20px;
  border: 2px solid white;
  border-radius: 8px;
  z-index: 1;
}

@media (max-width: 991px) {
  .work-steps .info .box {
    flex-direction: column;
    text-align: center;
  }
}

.work-steps .info .box::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  background-color: #ededed;
  z-index: -1;
  transition: var(--main-transition);
}

.work-steps .info .box:hover::before {
  width: 100%;
  height: 100%;
}

.work-steps .info .box img {
  width: 64px;
  margin-right: 30px;
}

@media (max-width: 991px) {
  .work-steps .info .box img {
    margin: 0 0 30px;
  }
}

.work-steps .info .box h3 {
  margin: 0;
  font-size: 22px;
}

.work-steps .info .box p {
  color: var(--main-text-color);
  line-height: 1.7;
  font-size: 18px;
  margin: 10px 0 0;
}
/* end Work Steps */

/* start Events */
.events {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}

.events .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 991px) {
  .events .container {
    flex-direction: column;
  }
}

.events img {
  position: relative;
  max-width: 450px;
  animation: rotate 5s linear infinite;
}

@media (max-width: 991px) {
  .events img {
    width: 300px;
  }
}

.events .info {
  flex: 1;
}

.events .info .time {
  display: flex;
  gap: 10px;
  margin: 20px auto;
  align-items: center;
  justify-content: center;
}

.events .info .time .unit {
  width: 75px;
  text-align: center;
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  transition: var(--main-transition);
}

.events .info .time .unit:hover {
  border-color: var(--main-color);
}

.events .info .time .unit span {
  display: flex;
  justify-content: center;
  transition: var(--main-transition);
  cursor: default;
}

.events .info .time .unit span:first-child {
  padding: 15px;
  font-size: 35px;
  font-weight: bold;
  color: var(--main-color);
}

.events .info .time .unit span:last-child {
  font-size: 13px;
  padding: 8px 10px;
  border-top: 1px solid #d4d4d4;
}

.events .info .time .unit:hover span:last-child {
  border-top-color: var(--main-color);
}

.events .title {
  text-align: center;
  font-size: 35px;
  margin: 40px 0 0;
}

.events .description {
  line-height: 1.7;
  text-align: center;
  font-size: 20px;
  color: var(--main-text-color);
}

.events .subscribe {
  width: 100%;
  margin-top: 50px;
}

@media (max-width: 767px) {
  .events .subscribe {
    margin-top: 20px;
  }
}

.events .subscribe form {
  width: 600px;
  margin: 30px auto;
  padding: 20px 40px;
  background-color: #f6f5f5;
  border-radius: 50px;
  display: flex;
  gap: 20px;
}

@media (max-width: 767px) {
  .events .subscribe form {
    max-width: 100%;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
  }
}

.events .subscribe form input[type="email"] {
  padding: 20px;
  border: none;
  border-radius: 50px;
  flex: 1;
  caret-color: var(--main-color);
}

@media (max-width: 767px) {
  .events .subscribe form input[type="email"] {
    border-radius: 10px;
  }
}

.events .subscribe form input[type="email"]:focus {
  outline: none;
}

.events .subscribe form input[type="email"]::placeholder {
  transition: opacity var(--main-transition);
}

.events .subscribe form input[type="email"]:focus::placeholder {
  opacity: 0;
}

.events .subscribe form input[type="submit"] {
  border: none;
  border-radius: 50px;
  background-color: var(--main-color);
  color: white;
  padding: 20px;
  font-weight: bold;
  transition: var(--main-transition);
  cursor: pointer;
}

@media (max-width: 767px) {
  .events .subscribe form input[type="submit"] {
    width: fit-content;
    margin: auto;
    border-radius: 10px;
  }
}

.events .subscribe form input[type="submit"]:hover {
  background-color: var(--main-color-alt);
}
/* end Events */

/* start Pricing */
.pricing {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--section-background);
}

.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.pricing .box {
  position: relative;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  background-color: white;
  text-align: center;
  transition: var(--main-transition);
  z-index: 1;
}

.pricing .box::before,
.pricing .box::after {
  content: "";
  position: absolute;
  width: 0;
  height: 50%;
  background-color: #f6f6f6;
  z-index: -1;
  transition: var(--main-transition);
}

.pricing .box::before {
  content: "";
  top: 0;
  right: 0;
}

.pricing .box::after {
  content: "";
  bottom: 0;
  left: 0;
}

.pricing .box:hover::before,
.pricing .box:hover::after {
  width: 100%;
}

@media (min-width: 1200px) {
  .pricing .box.popular {
    top: -20px;
  }
}

.pricing .box.popular .label {
  position: absolute;
  writing-mode: vertical-rl;
  right: 15px;
  top: -4px;
  border-radius: 5px 5px 0 0;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 10px 35px;
  width: 40px;
}

.pricing .box.popular .label::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 20px;
  border-color: transparent transparent white transparent;
}

.pricing .box .title {
  margin: 30px 0;
  font-size: 25px;
}

.pricing .box img {
  width: 80px;
  margin-bottom: 35px;
}

.pricing .box .price {
  margin-bottom: 30px;
}

.pricing .box span:first-child {
  display: block;
  font-size: 60px;
  font-weight: bold;
  color: var(--main-color);
  margin-bottom: 10px;
}

.pricing .box span:last-child {
  color: var(--main-text-color);
}

.pricing .box ul {
  text-align: left;
}

.pricing .box ul li {
  padding: 20px;
  border-top: 1px solid #eee;
}

.pricing .box ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  font-weight: 900;
  font-size: 18px;
  color: var(--main-color);
  margin-right: 10px;
}

.pricing .box a {
  display: block;
  margin: 30px auto 40px;
  padding: 15px 20px;
  border: 2px solid var(--main-color);
  width: fit-content;
  border-radius: 7px;
  color: var(--main-color);
  font-weight: bold;
  transition: var(--main-transition);
}

.pricing .box a:hover {
  background-color: var(--main-color-alt);
  color: white;
}
/* end Pricing */

/* start Videos */
.videos {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}

.videos .holder {
  display: flex;
  justify-content: center;
  background-color: var(--section-background);
  border: 1px solid #ddd;
}

@media (max-width: 991px) {
  .videos .holder {
    flex-direction: column;
  }
}

.videos .holder .list {
  min-width: 300px;
  background-color: white;
}

.videos .holder .list .name {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding: 20px;
  background-color: #f4f4f4;
}

.videos .holder .list ul li {
  padding: 20px;
  border: 1px solid var(--section-background);
  cursor: pointer;
  transition: var(--main-transition);
}

.videos .holder .list ul li:hover {
  background-color: #fafafa;
  color: var(--main-color);
}

.videos .holder .list span {
  display: block;
  margin: 10px 0 0;
  color: var(--main-text-color);
  transition: var(--main-transition);
}

.videos .holder .list ul li:hover span {
  color: #000;
}

.videos .holder .preview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  background-color: #e2e2e2;
}

.videos .holder .preview img {
  max-width: 100%;
}

.videos .holder .preview .info {
  padding: 15px;
  margin-top: 30px;
  background-color: white;
  font-weight: bold;
}
/* end Videos */

/* start stats */
.stats {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-image: url(../images/stats.jpg);
  background-size: cover;
  min-height: 300px;
}

.stats::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255 / 95%);
}

.stats h2 {
  position: relative;
  font-weight: bold;
  font-size: 40px;
  width: fit-content;
  margin: 0 auto 50px;
}

.stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.stats .box {
  position: relative;
  background-color: white;
  padding: 30px 15px;
  text-align: center;
  opacity: 0.8;
  transition: var(--main-transition);
}

.stats .box:hover {
  opacity: 1;
}

.stats .box::before,
.stats .box::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 0;
  background-color: var(--main-color);
  transition: 1s;
}

.stats .box::before {
  left: 0;
  bottom: 0;
}

.stats .box::after {
  right: 0;
  top: 0;
}

.stats .box:hover::before,
.stats .box:hover::after {
  height: 100%;
}

.stats .box .number {
  display: block;
  font-size: 50px;
  margin: 10px 0;
  font-weight: bold;
}

.stats .box .text {
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  color: var(--main-color);
}

.stats .box:last-of-type .number::after {
  content: "K";
}
/* end stats */

/* start Discount */
.discount {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

.discount .image {
  position: relative;
  background-image: url(../images/discount-background1.jpg);
  background-size: cover;
  color: white;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  animation: change-background 10s linear infinite;
}

.discount .image::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(23 135 224 / 97%);
  z-index: -1;
}

@media (min-width: 991px) {
  .discount .image {
    flex-basis: 50%;
  }
}

.discount .form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
  padding-bottom: 50px;
}

@media (min-width: 991px) {
  .discount .form {
    flex-basis: 50%;
  }
}

.discount .form .input {
  display: block;
  position: relative;
  width: 100%;
  margin-bottom: 25px;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  caret-color: var(--main-color);
}

.discount .form textarea.input {
  resize: none;
  height: 200px;
}

.discount .form .input:focus {
  outline: none;
}

.discount .form [type="submit"] {
  display: block;
  width: 100%;
  border: none;
  padding: 15px;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  transition: var(--main-transition);
}

.discount .form [type="submit"]:hover {
  background-color: var(--main-color-alt);
}

.discount .content {
  text-align: center;
  padding: 0 20px;
}

.discount .content h2 {
  font-size: 40px;
  letter-spacing: -2px;
}

.discount .content p {
  line-height: 1.7;
  font-size: 18px;
  max-width: 500px;
}

.discount .content img {
  width: 300px;
  max-width: 100%;
}

@media (max-width: 991px) {
  .discount .content img {
    padding-bottom: 30px;
  }
}

/* end Discount */

/* start Footer */
.footer {
  background-color: #191919;
  padding: 70px 0 0;
}

@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
}

.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}

.footer .box h3 {
  font-size: 50px;
  color: white;
  margin: 0 0 20px;
}

.footer .box .social {
  display: flex;
}

@media (max-width: 767px) {
  .footer .box .social {
    justify-content: center;
  }
}

.footer .box .social li {
  margin-right: 10px;
}

.footer .box .social a {
  display: inline-flex;
  background-color: #313131;
  color: #b9b9b9;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  transition: var(--main-transition);
}

.footer .box .social .facebook:hover {
  background-color: #1877f2;
}

.footer .box .social .twitter:hover {
  background-color: #1da1f2;
}

.footer .box .social .youtube:hover {
  background-color: #ff0000;
}

.footer .box .text {
  line-height: 2;
  color: #b9b9b9;
}

.footer .box .links li {
  padding: 15px 0;
  transition: var(--main-transition);
}

.footer .box .links li:not(:last-child) {
  border-bottom: 1px solid #444;
}

.footer .box .links li:hover {
  padding-left: 10px;
}

.footer .box .links li a {
  color: #b9b9b9;
  font-weight: bold;
  transition: var(--main-transition);
}

.footer .box .links li a::before {
  font-family: "Font Awesome 5 Free";
  content: "\F101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}

.footer .box .links li:hover a {
  color: white;
}

.footer .box .line {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  color: #b9b9b9;
}

@media (max-width: 776px) {
  .footer .box .line {
    flex-direction: column;
  }
}

.footer .box .line i {
  font-size: 23px;
  color: var(--main-color);
  margin-right: 10px;
}

@media (max-width: 776px) {
  .footer .box .line i {
    margin: 0 0 15px;
  }
}

.footer .box .line .info {
  line-height: 1.7;
}

.footer .box .line .info span {
  display: block;
}

.footer .footer-gallery img {
  width: 78px;
  border: 3px solid white;
  margin: 2px;
}

.footer .copyright {
  padding: 20px;
  margin: 40px 0 0;
  color: white;
  text-align: center;
  border-top: 1px solid #444;
}

.footer .copyright span:first-child {
  color: red;
}

.footer .copyright span:last-child {
  font-weight: bold;
  font-size: 20px;
  color: var(--main-color);
}
/* end Footer */

/* start Animation */
@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}

@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-15px);
  }
}

@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 5px 0 0 5px;
    width: 70%;
    height: 100%;
  }
}

@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0 5px 5px 0;
    width: 70%;
    height: 100%;
  }
}

@keyframes arrow-to-left {
  100% {
    transform: translateX(10px);
  }
}

@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}

@keyframes rotate {
  0%,
  100% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(20deg);
  }
}

@keyframes change-background {
  0%,
  100% {
    background-image: url("../images/discount-background1.jpg");
  }
  50% {
    background-image: url("../images/discount-background2.jpg");
  }
}
/* end Animation */

/* scroll Button */
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: -60px;
  background-color: var(--main-color);
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  z-index: 20;
  transition: var(--main-transition);
}

.scroll-to-top:hover {
  background-color: var(--main-color-alt);
}

.scroll-to-top.show {
  right: 20px;
}

.scroll-to-top::before {
  font-family: "FontAwesome";
  content: "\f077";
  font-size: 18px;
  position: relative;
}
